<div id="flights-result">
  <input type="hidden" name="uuid" id="uuid" value="<%= @uuid %>" />
  <div class="container">
    <div class="row flights-result-header stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" class="btn current btn-circle">1</a>
          <p>Departure</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" class="btn btn-secondary btn-circle" disabled="disabled">2</a>
          <p>Return</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" class="btn btn-secondary btn-circle" disabled="disabled">3</a>
          <p>Passengers</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-4" class="btn btn-secondary btn-circle" disabled="disabled">4</a>
          <p>Summary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flights-result-wrapper">
    <div class="container">
      <div id="step-1" class="setup-content">
        <div class="step-title">
          <div class="row">
            <div class="col-xs-9 offset-xs-1">
              <h4>Select Departure</h4>
              <div class="round-type"><%= @ori_airport.code %> <i class="fa fa-plane" aria-hidden="true"></i> <%= @des_airport.code %>, <%= @from_date %></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9 offset-xs-1">
            <div class="price-info-bar">
              Pricing is include ticket price and all taxes for all passengers
            </div>
          </div>
        </div>
        <div id="depature-flights"></div>
      </div>
    </div>
    <div class="container">
      <div id="step-2" class="setup-content">
        <div class="step-title">
          <div class="row">
            <div class="col-xs-9 offset-xs-1">
              <h4>Select Return</h4>
              <div class="round-type"><%= @des_airport.code %> <i class="fa fa-plane" aria-hidden="true"></i> <%= @ori_airport.code %>, <%= @to_date %></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9 offset-xs-1">
            <div class="price-info-bar">
              Pricing is include ticket price and all taxes for all passengers
            </div>
          </div>
        </div>
        <div id="return-flights"></div>
      </div>
    </div>
    <div class="container">
      <div id="step-3" class="setup-content">
        <%= render 'passenger_info' %>
      </div>
    </div>
  </div>
</div>
<%= render 'passenger_template' %>
<%= render 'flight_details_template' %>