<nav class="navbar navbar-full navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= root_path %>">iFlight</a>
  <div class="pull-xs-right">
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Leo Le
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "Logout", nil, class: "dropdown-item" %>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "dropdown-item") %>        
          </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path, class: "dropdown-item")  %>  
            </li>
            <li><%= link_to('Register', new_user_registration_path, class: "dropdown-item")  %>
            </li>
          <% end %>
      </div>
    </div>
  </div>
</nav>