<div class="step-title">
  <div class="row">
    <div class="col-xs-9 offset-xs-1">
      <h4><%= t('views.orders._passenger_info.title') %></h4>
    </div>
  </div>
</div>
<%= f.fields_for :passengers do |px| %>
  <%= px.hidden_field :category, value: px.object.category %>
  <%= px.hidden_field :no, value: px.object.no %>
  <div class="pax-info-wrapper">
    <div class="row">
      <div class="col-xs-9 offset-xs-1">
        <div class="pax-number-wrapper">
          <h5 class="pax-number">
            <%= t('views.orders._passenger_info.passenger') %> <%= px.object.no %>:
            <span class="pax-type"><%= category_name(px.object) %></span>
          </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-2 offset-xs-1">
        <div class="form-group">
          <%= px.select :gender, title_options(px.object.adult?), {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="col-xs-7 col-sm-7">
        <div class="form-group">
          <%= px.text_field :name, class: "form-control", placeholder: t('views.orders._passenger_info.pfullname') %>
        </div>
      </div>
    </div>
    <% unless px.object.infant? %>
      <div class="row">
        <div class="col-xs-3 col-sm-2 offset-xs-1">
          <div class="form-group">
            <label><%= t('views.orders._passenger_info.baggage_depart') %></label>
          </div>
        </div>
        <div class="col-xs-7 col-sm-7">
          <div class="form-group">
            <%= px.select :depart_lug_weight, {}, {}, {class: "form-control"} %>
          </div>
        </div>
      </div>
      <% if f.object.round_trip? %>
        <div class="row">
          <div class="col-xs-3 col-sm-2 offset-xs-1">
            <div class="form-group">
              <label><%= t('views.orders._passenger_info.baggage_return') %></label>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7">
            <div class="form-group">
              <%= px.select :return_lug_weight, {}, {}, {class: "form-control"} %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if px.object.infant? %>
      <div class="row">
        <div class="col-xs-3 col-sm-2 offset-xs-1">
          <div class="form-group">
            <label><%= t('views.orders._passenger_info.date_birth') %></label>
          </div>
        </div>
        <div class="col-xs-7 col-sm-7">
          <div class="form-group">
            <%= px.text_field :dob, class: "form-control", placeholder: "DD/MM/YYYY" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="step-title">
  <div class="row">
    <div class="col-xs-9 offset-xs-1">
      <h4><%= t('views.orders._passenger_info.contact') %></h4>
    </div>
  </div>
</div>
<div class="pax-info-wrapper">
  <div class="row">
    <div class="col-xs-3 col-sm-2 offset-xs-1">
      <div class="form-group">
        <%= f.select :contact_gender, title_options(true), {}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-7 col-sm-7">
      <div class="form-group">
        <% if user_signed_in? %>
          <%= f.text_field :contact_name, value: "#{current_user.name}", class: "form-control", placeholder: t('views.orders._passenger_info.pfullname'), data: {behavior: "update-summary"} %>
        <% else %>
          <%= f.text_field :contact_name, class: "form-control", placeholder: t('views.orders._passenger_info.pfullname'), data: {behavior: "update-summary"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2 offset-xs-1">
      <div class="form-group">
        <label><%= t('views.orders._passenger_info.lemail') %></label>
      </div>
    </div>
    <div class="col-xs-7 col-sm-7">
      <div class="form-group">
        <% if user_signed_in? %>
          <%= f.email_field :contact_email, value: "#{current_user.email}", class: "form-control", placeholder: t('views.orders._passenger_info.lemail'), data: {behavior: "update-summary"} %>
        <% else %>
          <%= f.email_field :contact_email, class: "form-control", placeholder: t('views.orders._passenger_info.lemail'), data: {behavior: "update-summary"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2 offset-xs-1">
      <div class="form-group">
        <label><%= t('views.orders._passenger_info.lphone') %></label>
      </div>
    </div>
    <div class="col-xs-7 col-sm-7">
      <div class="form-group">
        <% if user_signed_in? %>
          <%= f.text_field :contact_phone, value: "#{current_user.phone}", class: "form-control", placeholder: t('views.orders._passenger_info.pphone'), pattern: "\\d*", data: {behavior: "update-summary"} %>
        <% else %>
          <%= f.text_field :contact_phone, class: "form-control", placeholder: t('views.orders._passenger_info.pphone'), pattern: "\\d*", data: {behavior: "update-summary"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 offset-xs-2" style="text-align: center;">
    <a href="#" class="btn btn-lg btn-secondary back"><%= t('views.orders._passenger_info.back') %></a>
    <a href="#" class="btn btn-lg btn-primary next"><%= t('views.orders._passenger_info.continute') %></a>
  </div>
</div>