<div class="order-details" style="padding-bottom: 5em;">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-header text-center">
        <h4 class="title"><%= t('views.orders.show.title') %></h4>
        <h5 class="text-sm-center">
          <%= @order.order_number %>
        </h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-sm-center" style="margin-bottom: 2em;">
      <h4>
        <%= t('views.orders.show.created_at') %> <%= format_date_month_str(@order.created_at) %>
      </h4>
      <h5><%= t('views.orders.show.status') %> <%= @order.status.humanize %></h5>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="flight-wrapper">
          <div class="flight-title">
            <p><%= t('views.orders.show.depature') %> <%= @order.ori_airport.code %> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <%= @order.des_airport.code %>, <%= format_date_month_str(@order.date_depart) %></p>
          </div>
          <div class="flight-block depart">
              <div class="flight-img-logo">
                <%= image_tag("places/#{random_place_img()}.jpg", alt: "place") %>
              </div>
              <p><%= @flight_depart.plane_category.name %> (<%= @flight_depart.code_flight %>)</p>
              <p><%= t('views.orders.show.book_code') %> <%= @flight_depart.code_book %></p>
              <p><%= format_time(@flight_depart.time_depart) %> - <%= format_time(@flight_depart.time_arrive) %></p>
              <p><%= format_currency(@flight_depart.price_total) %></p>
          </div>
        </div>
        <% if @order.round_trip? %>
          <div class="flight-wrapper return">
            <div class="flight-title">
              <p>Return: <%= @order.des_airport.code %> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <%= @order.ori_airport.code %>, <%= format_date_month_str(@order.date_return) %></p>
            </div>
            <div class="flight-block">
              <div class="flight-img-logo">
                <%= image_tag("places/#{random_place_img()}.jpg", alt: "place") %>
              </div>
              <p><%= @flight_return.plane_category.name %> (<%= @flight_return.code_flight %>)</p>
              <p><%= t('views.orders.show.book_code') %> <%= @flight_depart.code_book %></p>
              <p><%= format_time(@flight_return.time_depart) %> - <%= format_time(@flight_return.time_arrive) %></p>
              <p><%= format_currency(@flight_return.price_total) %></p>
            </div>
          </div>
        <% end %>
        <div class="flight-wrapper">
          <div class="flight-title">
            <% if @order.passengers.count > 1 %>
              <p><%= t('views.orders.show.passenger') %>s</p>
            <% else %>
              <p><%= t('views.orders.show.passenger') %></p>
            <% end %>
          </div>
          <div class="pax-block contact-block">
            <% @order.passengers.each do |passenger| %>
              <p><span class="title"><%= title_name(passenger) %></span>. <span class="name"><%= passenger.name %></span></p>  
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-1">
        <div class="pax-wrapper">
          <div class="pax-title">
            <p><%= t('views.orders.show.contact') %></p>
          </div>
          <div class="pax-block contact-block">
            <p><span class="title"><%= title_name_by_str(@order.contact_gender) %></span>. <span class="name"><%= @order.contact_name %></span></p>
            <p><%= t('views.orders.show.phone') %> <span class="phone"><%= @order.contact_phone %></span></p>
            <p><%= t('views.orders.show.email') %> <span class="email"><%= @order.contact_email %></span></p>
          </div>
        </div>
        <div class="pax-wrapper">
          <div class="pax-title">
            <p><%= t('views.orders.show.total_price') %></p>
          </div>
          <div class="pax-block">
            <p class="price-total"><%= format_currency(@order.price_total) %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 offset-xs-2" style="text-align: center;">
        <%= link_to t('views.orders.show.back'), orders_path, class: "btn btn-lg btn-secondary back" %>
      </div>
    </div>
  </div>  
</div>