<div id="about">
  <div class="row">
    <div class="col-xs-12">
      <div class="header text-center">
        <h4 class="title">VISION</h4>
      </div>
    </div>
  </div>
  <div class="team-members vision">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>personal flight service to regular customers, and an amazing tool for ticket booking agents management</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="mission-desc">
    <div class="row">
      <div class="col-md-6 col-sm-12 description">
        <div class="desc-header text-center">
          <h4 class="title"><span style="color:#EF0F6F;">IFLIGHT</span> MISSIONS</h4>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="content">
              <h3 style="text-transform: uppercase;">fast and correct searching</h3>
              <p>Our results come from origin airline websites. No need to worry about higher price.</p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="content">
              <h3 style="text-transform: uppercase;">tracking price 24/7</h3>
              <p>We're always available and notify to you when the price go down.</p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <div class="content">
              <h3 style="text-transform: uppercase;">iFlight is your flight assistant</h3>
              <p>Everything we do, we do it for you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "sign-up-bg.jpg" %>
      </div>
    </div>
  </div>
  <div class="customer-target">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="title-icon">
            <%= image_tag "about/regular-customer.png", width: '160', alt: 'regular customer' %>
          </div>
          <h3 class="title-head">Regular customers</h3>
          <p class="title-content">As a customer I want iflight become my assistant so that I can fly everywhere with the best price and service.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/real-time.png", width: '160', alt: 'fast searching, price correctly' %>
          </div>
          <div class="info-content">
            <h4>Fast searching, price correctly</h4>
            <p>We get data from 3 domestic airline websites so that the ticket price is always up-to-date and the price (include all taxes and extra charges) is the same as the original website.</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/bot-assistant.png", width: '160', alt: 'bot assistant' %>
          </div>
          <div class="info-content">
            <h4>BOT assistant</h4>
            <p>Her name's Fli. You can feel free to chat with Fli by your messenger account. Fli can help you search ticket quickly and show results friendly</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/cost-effective.png", width: '160', alt: 'cost-effective' %>
          </div>
          <div class="info-content">
            <h4>Suggest cost-effective flight</h4>
            <p>iFlight can suggest you to buy the flight ticket or not to get the best cost-effective price.</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/hand-shake.png", width: '160', alt: 'exchange tickets' %>
          </div>
          <div class="info-content">
            <h4>Exchange tickets</h4>
            <p>With the large community, iFlight believe that you can exchange your ticket to other in order to get back a little bit money.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="agent-target">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="title-icon">
            <%= image_tag "about/agent.png", width: '160', alt: 'flight booking agent' %>
          </div>
          <h3 class="title-head">agents</h3>
          <p class="title-content">As an flight booking agent I want iflight become a tool flight ticket management so that I can serve my customers quickly, manage my staff sales as well.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/easy.png", width: '160', alt: 'everyone can become an agent' %>
          </div>
          <div class="info-content">
            <h4>Everyone can become an agent</h4>
            <p>iFlight will be a hook ticket airline website, so that everyone can registered a new account easily and become a flight booking agent in few minutes.</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/serve-customer.png", width: '160', alt: 'serve customer better' %>
          </div>
          <div class="info-content">
            <h4>Make your customer service better</h4>
            <p>Searching ticket quickly, making comparing prices easier.</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/happy-customer.png", width: '160', alt: 'cost-effective' %>
          </div>
          <div class="info-content">
            <h4>Mangage/support your customers</h4>
            <p>Manage your customer orders. Manage customer's debit. Send your promotion to your customers efficiently</p>
          </div>
        </div>
        <div class="col-md-6 info-container">
          <div class="info-icon">
            <%= image_tag "about/staffs.png", width: '160', alt: 'exchange tickets' %>
          </div>
          <div class="info-content">
            <h4>Manage your staffs and bookers</h4>
            <p>For the medium and large agents, you can easily manage your staff and booker sales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
