<div class="row searching-form-wrapper">
  <div class="col-md-12">
    <div class="container">
      <div class="searching-form">
        <%= form_tag new_order_path, method: 'get' do %>
          <div class="row">
            <div class="col-md-12">
              <h3 class="title">Your flights are waiting for you ...</h3>
              <fieldset class="form-group btn-group" data-toggle="buttons">
                <%= label_tag "itinerary_type_round_trip", class: "btn btn-primary lbl_itinerary_type active", style: "margin-right: 1em;" do %>
                  <%= radio_button_tag "itinerary_type", "RT", checked: true %> Round Trip
                <% end %>
                <%= label_tag "itinerary_type_one_way", class: "btn btn-primary lbl_itinerary_type" do %>
                  <%= radio_button_tag "itinerary_type", "OW" %> One Way
                <% end %>
              </fieldset>
            </div>
          </div>
          <div class="row" style="margin-bottom: .7em;">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <%= select_tag "ori_airport_id", options_from_collection_for_select(@ori_airports, "id", "airport_info"), {prompt: "Select departure ...", class: "form-control"} %>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <%= select_tag "des_airport_id", "", class: "form-control" %>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="date-itinerary" style="padding-right: 0;">
              <div class="row input-daterange input-group">
                <div class="col-md-6" style="padding-right: 0;">
                  <fieldset class="form-group">
                    <%= text_field_tag "date_depart", "", class: "form-control" %>
                  </fieldset>
                </div>
                <div class="col-md-6" style="padding-right: 0;">
                  <fieldset class="form-group">
                    <%= text_field_tag "date_return", "", class: "form-control" %>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="dropdown passengers-dropdown-wrapper">
                <button class="btn btn-secondary dropdown-toggle passengers-dropdown-btn" type="button" id="passengers-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align: left;">
                  1 Passenger
                </button>
                <div class="dropdown-menu" aria-labelledby="passengers-dropdown-btn" style="margin-top: 6px;">
                  <fieldset class="form-group">
                    <%= label_tag "adult_num", "Adult" %>
                    <%= text_field_tag "adult_num", "", class: "form-control" %>
                  </fieldset>
                  <fieldset class="form-group">
                    <%= label_tag "child_num", "Children" %>
                    <%= text_field_tag "child_num", "", class: "form-control" %>
                  </fieldset>
                  <fieldset class="form-group">
                    <%= label_tag "infant_num", "Infant" %>
                    <%= text_field_tag "infant_num", "", class: "form-control" %>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary" id="search-btn" disabled style="width: 100%;">Search Flights</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="top-recent-search" id="recent-search-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h3>your top <span>recently searching</span></h3>
        </div>
      </div>
    </div>
    <div class="row" id="recently-searching">

    </div>
    <div class="divider" style="margin-top: 3em;"></div>
  </div>
</div>
<div class="top-trending-search">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h3>top <span>destination trending</span></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <% @destination_trending.each do |airport| %>
        <div class="col-md-4">
          <div class="card place-wrapper">
            <div style="overflow: hidden;">
              <%= image_tag("places/#{random_place_img()}.jpg", alt: "place", class: "card-img-top") %>
            </div>
            <div class="card-block">
              <h5 class="card-title ori-des"><%= airport[0].airport_info %></h5>
              <p class="card-text"><small class="text-muted"><%= airport[1] %> searching times</small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'recently_searching_template' %>
