<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Skyline Confirm Email</title>
  <style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Lato:400);

    /* Take care of image borders and formatting */

    img {
      max-width: 600px;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a {
      text-decoration: none;
      border: 0;
      outline: none;
    }

    a img {
      border: none;
    }

    /* General styling */

    td, h1, h2, h3  {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

    body {
      -webkit-font-smoothing:antialiased;
      -webkit-text-size-adjust:none;
      width: 100%;
      height: 100%;
      color: #37302d;
      background: #ffffff;
    }

     table {
      border-collapse: collapse !important;
    }


    h1, h2, h3 {
      padding: 0;
      margin: 0;
      color: #ffffff;
      font-weight: 400;
    }

    h3 {
      color: #21c5ba;
      font-size: 24px;
    }

    .important-font {
      color: #ff0064;
      font-weight: bold;
    }

    .hide {
      display: none !important;
    }

    .force-full-width {
      width: 100% !important;
    }
  </style>

  <style type="text/css" media="screen">
    @media screen {
       /* Thanks Outlook 2013! http://goo.gl/XLxpyl*/
      td, h1, h2, h3 {
        font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
      }
    }
  </style>

  <style type="text/css" media="only screen and (max-width: 480px)">
    /* Mobile styles */
    @media only screen and (max-width: 480px) {
      table[class="w320"] {
        width: 320px !important;
      }

      table[class="w300"] {
        width: 300px !important;
      }

      table[class="w290"] {
        width: 290px !important;
      }

      td[class="w320"] {
        width: 320px !important;
      }

      td[class="mobile-center"] {
        text-align: center !important;
      }

      td[class*="mobile-padding"] {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
      }

      td[class*="mobile-block"] {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
        padding-bottom: 20px !important;
      }

      td[class*="mobile-border"] {
        border: 0 !important;
      }

      td[class*="reveal"] {
        display: block !important;
      }
    }
  </style>
</head>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff"  width="100%">

    <table cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td style="border-bottom: 3px solid #ff0064;" width="100%">
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td valign="top" style="padding: 26px 0; text-align:left;" class="mobile-center">
                  <%= image_tag("emails/iflight-logo-250x62.png", height: '62', width: '250') %>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td background="http://i.imgur.com/So1R0wC.jpg" bgcolor="#8b8284" valign="top" style="background: image-url('emails/head-bg.jpg') no-repeat center; background-color: #8b8284; background-position: center;">
          <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:303px;">
            <v:fill type="tile" src="https://www.filepicker.io/api/file/kmlo6MonRpWsVuuM47EG" color="#8b8284" />
            <v:textbox inset="0,0,0,0">
          <![endif]-->
          <div>
            <center>
              <table cellspacing="0" cellpadding="0" width="530" height="303" class="w320">
                <tr>
                  <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:left;" height="303">

                    <table cellspacing="0" cellpadding="0" width="100%">
                      <tr>
                        <td>
                          <h1>THANKS FOR YOUR ORDER</h1><br>
                          <br>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>
            </center>
          </div>
          <!--[if gte mso 9]>
            </v:textbox>
          </v:rect>
          <![endif]-->
        </td>
      </tr>
      <tr class="force-full-width">
        <td valign="top" class="force-full-width">
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td valign="top" style="border-bottom:1px solid #a1a1a1;">

                <table cellspacing="0" cellpadding="0" class="force-full-width">
                  <tr>
                    <td style="padding: 30px 0;" class="mobile-padding">

                    <table class="force-full-width" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="text-align: left;">
                          <span class="important-font">
                            <%= @order.contact_name %> <br>
                          </span>
                          <%= @order.contact_phone %> <br>
                          <%= @order.contact_email %> <br>
                        </td>
                        <td style="text-align: right; vertical-align:top;">
                          <span class="important-font">
                            Order number: <%= @order.order_number %><br>
                          </span>
                          <%= @order.created_at.strftime('%b %d, %Y') %>
                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 30px;" class="mobile-padding">

                      <table class="force-full-width" cellspacing="0" cellpadding="0">
                        <tr>

                          <td class="mobile-block">
                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                              <tr>
                                <td class="mobile-border" style="background-color: #f95497; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff; text-align:left;">
                                  Depart: <%= @order.ori_airport.code %> - <%= @order.des_airport.code %>, <%= format_date(@order.date_depart) %>
                                </td>
                              </tr>
                              <tr>
                                <td  style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff; text-align:left;">
                                  <table class="force-full-width" cellspacing="0" cellpadding="0">
                                    <tr>

                                      <td class="mobile-block" width="30%">
                                        <%= image_tag("airlines/#{plane_category_logo_name(@flight_depart.plane_category)}", width: '60', height: '30') %>
                                      </td>

                                      <td class="mobile-block" width="70%">
                                        <%= plane_category_name(@flight_depart.plane_category) %> (<%= @flight_depart.code_flight %>) <br>
                                        <%= format_time(@flight_depart.time_depart) %> - <%= format_time(@flight_depart.time_arrive) %>
                                      </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>

                        </tr>
                      </table>

                    </td>
                  </tr>
                  <% if @order.round_trip? %>
                    <tr>
                      <td style="padding-bottom: 30px;" class="mobile-padding">

                        <table class="force-full-width" cellspacing="0" cellpadding="0">
                          <tr>

                            <td class="mobile-block">
                              <table cellspacing="0" cellpadding="0" class="force-full-width">
                                <tr>
                                  <td class="mobile-border" style="background-color: #f95497; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff; text-align:left;">
                                    Return: <%= @order.des_airport.code %> - <%= @order.ori_airport.code %>, <%= format_date(@order.date_return) %>
                                  </td>
                                </tr>
                                <tr>
                                  <td  style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff; text-align:left;">
                                    <table class="force-full-width" cellspacing="0" cellpadding="0">
                                      <tr>

                                        <td class="mobile-block" width="30%">
                                          <%= image_tag("airlines/#{plane_category_logo_name(@flight_return.plane_category)}", width: '60', height: '30') %>
                                        </td>

                                        <td class="mobile-block" width="70%">
                                          <%= plane_category_name(@flight_return.plane_category) %> (<%= @flight_return.code_flight %>) <br>
                                          <%= format_time(@flight_return.time_depart) %> - <%= format_time(@flight_return.time_arrive) %>
                                        </td>

                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>

                          </tr>
                        </table>

                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td style="padding-bottom: 30px;" class="mobile-padding">

                      <table class="force-full-width" cellspacing="0" cellpadding="0">
                        <tr>

                          <td class="mobile-block">
                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                              <tr>
                                <td class="mobile-border" style="background-color: #f95497; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff; text-align:left;">
                                  Passenger(s)
                                </td>
                              </tr>
                              <% @passengers.each do |passenger| %>
                                <tr>
                                  <td  style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff; text-align:left;">
                                    <span style="text-transform: uppercase;"><%= title_name(passenger) %>. <%= passenger.name %></span><br>
                                    Depart baggage: <%= passenger.depart_lug_weight %> kg<br>
                                    <% if @order.round_trip? %>
                                      Return baggage: <%= passenger.return_lug_weight %> kg
                                    <% end %>
                                  </td>
                                </tr>
                              <% end %>
                            </table>
                          </td>

                        </tr>
                      </table>

                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 30px;" class="mobile-padding">

                      <table class="force-full-width" cellspacing="0" cellpadding="0">
                        <tr>

                          <td class="mobile-block">
                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                              <tr>
                                <td class="mobile-border" style="background-color: #f95497; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff; text-align:left;">
                                  Total price: <%= @order.price_total %>
                                </td>
                              </tr>
                            </table>
                          </td>

                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                </td>
              </tr>
              <tr>
                <td>

                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td class="mobile-padding" style="text-align:left;">
                      <br>
                        Thank you for your business. Please <a style="color: #2BB6AC;" href="#">contact us</a> with any questions regarding this invoice.
                      <br>
                      <br>
                      <br>
                      <br>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td style="background-color:#c2c2c2;">
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="30" width="100%">
                    <tr>
                      <td style="text-align:center;">
                        <a href="https://about.me/tang.nguyen" target="_blank">
                          <%= image_tag("team/tang-nguyen-ava.png", height: '100', width: '100', alt: 'Tang Nguyen') %>
                        </a>
                        <a href="https://about.me/leo.le" target="_blank">
                          <%= image_tag("team/leo-ava.png", height: '100', width: '100', alt: 'Leo') %>
                        </a>
                        <a href="https://about.me/hongtran" target="_blank">
                          <%= image_tag("team/hong-tran-ava.png", height: '100', width: '100', alt: 'Hong Tran') %>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <center>
                    <table style="margin:0 auto;" cellspacing="0" cellpadding="5" width="100%">
                      <tr>
                        <td style="text-align:center; margin:0 auto;" width="100%">
                           2016 © MIDDLE-GUYS
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>