<div id="about">
  <div class="row">
    <div class="col-xs-12">
      <div class="header text-center">
        <h4 class="title">MEET THE <span style="color:#EF0F6F;">MIDDLE GUYS</span> TEAM</h4>
      </div>
    </div>
  </div>
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/tang-nguyen-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Tang Nguyen</h4>
              <div class="social-icons text-center">
                <a href="https://www.facebook.com/nvtang?fref=ts" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/tang.nguyen" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">I am a web developer at MortgageClub currently living in Ho Chi Minh City, Vietnam. My interests range from music to travel. I am also interested in food, movies, and web development.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/leo-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Leo Le</h4>
              <div class="social-icons text-center">
                <a href="https://www.facebook.com/ledona1509" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/leo.le" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">Hey, I’m Leo. I’m a web developer living in Ho Chi Minh City, Vietnam. I am a fan of travel, entrepreneurship, and web development. I’m also interested in programming and football.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/hong-tran-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Hong Tran</h4>
              <div class="social-icons text-center">
                <a href="https://www.facebook.com/pinBang?fref=ts" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/hongtran" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">Greetings, I’m Hong. I’m a web developer living in Ho Chi Minh City, Vietnam. I am a fan of music, travel, and web development. I’m also interested in football and food.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-desc">
    <div class="row">
      <div class="col-md-6 image">
        <%= image_tag "team/team-work-1.png", width: '100%', height: '100%' %>
      </div>
      <div class="col-md-6 col-sm-12 description">
        <div class="desc-header text-center">
          <h4 class="title">LEAR MORE ABOUT <span style="color:#EF0F6F;"> OUR TEAM</span></h4>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">we'are agile</h6>
              <p>We follow agile software development process</p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">hard working</h6>
              <p>Over 22 hard-working hours / week / member </p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">never say no</h6>
              <p>If something is good for our product. We go for it!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="team-moments">
    <div class="row">
      <div class="col-xs-12">
        <div class="header text-center">
          <h4 class="title">TEAM <span style="color:#EF0F6F;">MOMENTS</span></h4>
        </div>
      </div>
    </div>
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-1.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-2.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-3.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-4.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-5.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag "team-activities/act-6.jpg", width: '100%', height: '140', class: "card-img-top", alt: "team activity" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-desc">
    <div class="row">
      <div class="col-md-6 col-sm-12 description">
        <div class="desc-header text-center">
          <h4 class="title"><span style="color:#EF0F6F;">IFLIGHT</span> MISSIONS</h4>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">fast and correct searching</h6>
              <p>Our results come from origin airline websites. No need to worry about higher price.</p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">tracking price 24/7</h6>
              <p>We're always available and notify to you when the price go down.</p>
            </div>
          </div>
        </div>
        <div class="desc-body">
          <div class="desc-details">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <div class="content">
              <h6 style="text-transform: uppercase;">iFlight is your flight assistant</h6>
              <p>Everything we do, we do it for you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "sign-up-bg.jpg", width: '100%', height: '100%' %>
      </div>
    </div>
  </div>
</div>